h1 {
    list-style-type:inside;
    color: orange;
    font-size: 40px;
    text-align: center;
}
ul#menu{
    list-style-type: circle;
    color: black;
    font-size: 18px;

}
p {
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    text-indent: 15px;

}
p1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 15px;
    font-size: 18px;
}

b {
    text-align: center;
}
h2{
    color: green;
font-size: x-large;
font-style: normal;
text-align: center;

}
ul#urun > li {
    color: black;
    list-style-type: disc;
    text-align: center;
    margin: auto;
    font-size: 18px;
    display: block;
    width: 80px;

   } 
   li.sayfa {
    text-align: center;
    font-size: 18px;
    padding: 0px 0px 3px 0px;
    
}


ul#urunler > li {
    color: black;
    text-align: center;
    font-size: 18px;
    display: block;
        width: 300px;
        margin:auto;
    }
    ul#urunler > li> img {
        display: block;
        width: 300px;
        margin:auto;
        padding-top: 20px;
        text-align: center;
    }
    h3{
        text-align: center;
    }